<canvas id="canvas1"></canvas>
<input type="text" id="textInput" placeholder="Type your particle text...">

<canvas id="canvas2"></canvas>

<div id="test">
    <img src="../public/images/favicon.ico" alt="test">
</div>

<!-- <div class="wrapper">
    <canvas id="canvas1" width="400" height="300"></canvas>
    <canvas id="canvas2" width="400" height="300"></canvas>
</div> -->

